.mrker-btn {
  background: none;
  background-color: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.mrker-btn img{
  width: 30px;
  height: 30px;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}